/* Base Styling */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

header {
    background: linear-gradient(to right, #e52d27, #b31217);
    text-align: center;
    padding: 20px;
}

.main-title {
    color: #fff;
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #242424;
    padding: 10px 0;
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

.animated-section {
    margin-bottom: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Carousel */
.swiper-container {
    width: 80%;
    height: auto;
    margin: auto;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Contact */
.contact-card {
    padding: 20px;
    border: 2px solid #ffa500;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

.contact-card ul {
    list-style: none;
    padding: 0;
}
